#all the property is example and u can override it by -P in command line
#we should not define the DB and maven repositorys username password here, 
#should override them with -P in command line

# define the project attribute
group=
description=
version=

organization=organization
mavenSnapshotRepository=http://snapshots.maven.codehaus.org/maven2
mavenReleaseRepository=https://maven.codehaus.org/maven2/
deploymentUsername=deployer
deploymentPassword=deployer