apply from: '$project.rootDir/gradle/javaProject.gradle'
apply from: '$project.rootDir/gradle/report.gradle'
apply from: "$project.rootDir/gradle/maven.gradle"
apply from: "$project.rootDir/gradle/components/utils.gradle"

description = 'I\'m a java project'

dependencies {

}