apply from: '../gradle/javaProject.gradle'
apply from: '../gradle/report.gradle'
apply from: "../gradle/maven.gradle"
apply from: "../gradle/distribution.gradle"
apply from: "../gradle/spring-boot.gradle"
apply from: "../gradle/components/utils.gradle"

description = 'I\'m a spring boot application project'

dependencies {

}